@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

#projects {
  background-color: $backgroundThird;
}
.projects {
  &__list {
    padding: 2rem 1rem;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include tablet {
      flex-wrap: wrap;
      flex-direction: row;
      padding: 3rem 3rem;
      justify-content: space-between;
      flex: 1;
    }
  }
  &__item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
    width: 100%;
    @include tablet {
      flex: 1;
    }
    &-title {
      font-weight: 800;
    }
    &-description {
      width: 280px;
      height: 13rem;
      color: white;
      font-family: "FuturaMdMedium";
    }
    &-link {
      color: $backgroundSecond;
      font-family: "FuturaMdMedium";
      &:active,
      &:focus {
        color: $backgroundSecond;
      }
      &:hover {
        color: $backgroundFourth;
      }
    }
    &-cover {
      height: 280px;
      width: 100%;
      object-fit: cover;
      line-height: 16px;
      text-decoration: none;
      border: 1px solid lightgrey;
      filter: grayscale(85%);
      transition-timing-function: ease-in;
      transition-duration: 100ms;
      @include tablet {
        width: 300px;
      }
      &:hover {
        transition-timing-function: ease-out;
        transition-duration: 100ms;
        filter: grayscale(0%);
        cursor: pointer;
      }
    }
    &-buttons {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      @include desktop {
        flex-direction: row;
      }
    }
  }
}
