@font-face {
  font-family: "Trajan Pro";
  src: url("../../assets/font/TrajanProRegular.woff2") format("woff2"),
    url("../../assets/font/TrajanProRegular.woff") format("woff"),
    url("../../assets/font/TrajanProRegular.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Trajan Pro";
  src: url("../../assets/font/TrajanProBold.woff2") format("woff2"),
    url("../../assets/font/TrajanProBold.woff") format("woff"),
    url("../../assets/font/TrajanProBold.ttf") format("truetype");
  font-weight: 500;
}
