@import "../../styles/variables";

.main {
  font-family: sans-serif;
  padding: 0 4rem;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: $backgroundSecond;
}
