@import "../../styles/variables";

.nav {
  position: fixed;
  background-size: cover;
  background-color: $backgroundFirst;
  color: white;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  z-index: 1;
  @media (min-width: $tablet-width) {
    padding: 0 4rem;
  }
  overflow-y: auto;
  &__item {
    &:hover {
      cursor: pointer;
      color: $backgroundThird;
      transition: ease-in-out 450ms;
    }
  }
  a {
    color: white;
  }
}
