@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  background: $color-bg-footer;
  padding: $spacing-lg $spacing-md;
  
  @include tablet {
    padding: $spacing-xl $spacing-xl;
  }
  
  &__content {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    font-family: 'FuturaMdMedium', sans-serif;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    color: $color-text-light;
    
    @include tablet {
      font-size: $font-size-base;
    }
  }
}

