@use "./styles/fonts" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Trajan Pro";
}

//___________PSEUDOCLASSES_______________

h2,
h3,
p {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 0rem;
  font-size: 2.6rem;
  font-weight: 600;
}
h2 {
  font-size: 2rem;
  @include tablet {
    font-size: 2.25rem;
  }
}
h3 {
  font-size: 1.3rem;
  @include tablet {
    font-size: 1.5rem;
  }
}

button {
  height: 3rem;
  width: 120px;
  position: relative;
  display: block;
  margin: 0;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all ease 600ms;
  color: white;
  text-shadow: 0 1px 1px #c4ccfc;
  font-size: 0.75em;
  background-color: $backgroundFirst;
  padding: 0 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 3px $backgroundSecond;
  border: 1px solid $backgroundFirst;
  transition: 600ms;
  &::before {
    width: 180px;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    cursor: pointer;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.25),
      transparent
    );
    transition: all ease 1s;
  }
  &:hover {
    text-shadow: 1px 1px 1px $backgroundThird;
  }
  &:hover::before {
    left: 115%;
  }
}
